:root {
	/* Fonts */

	--jakarta: "Plus Jakarta Sans", sans-serif;
	--helvetica: Helvetica, sans-serif;

	/* Colors */
	--black: #000000;
	--yellow: #ffd525;

	--blue-color: #4299e1;
	--purple-color: #7551ff;
	--green-color: #01b574;
	--search-background: #0f1535;
	--search-btn-color: #2d3748;
	--white-color: #ffffff;
	--light-white-color-20: #ffffff20;
	--background-dark-blue: #060b26;

	--middle-light-red-color: #ff6b6b;
	--in-color: #d9d9d9;
	--light-gray-border: #333;
	--light-pink-color: rgb(255, 182, 182);
	--dark-red-color: #961818;
	--pink-color: rgb(255, 127, 127);
	--dark-font-color: #1c1c1c;
	--red-color: #d02323;
	--grey-color: #e7e7e7;
}
